.body{
    padding: 0;
    margin: 0;
}
.uks{
    width: 50px;
    margin-right: 10px;
}
.navbar{
    background-color: #80AF81;
}
.navbar-brand{
    text-align: center;
    font-size: medium;
}


.container-fluid .row .pelayanan{
    /*justify-content: space-around;*/
    justify-content: space-between;
    background-color: #ffff;
    border-radius: 10%;
    margin-top: 5rem;
    margin-bottom: 50px; 
    text-align: center;
    margin-right: 10rem;
    margin-left: 10rem;
}
.container-fluid .row .pelayanan1  {
    /*justify-content: space-around;*/
    justify-content: space-between;
    background-color: #ffff;
    border-radius: 10%;
    margin-top: 5rem;
    margin-bottom: 50px; 
    text-align: center;
    margin-right: 10rem;
    margin-left: 10rem;
}
.serve{

    height: 9.5rem; 
    margin-top: 2rem;
    border-color: #ffff;
    margin-bottom: 2rem;
}

.moto{
    text-align: center;
}
.moto-tittle{
    margin-top: 5rem;
    font-size: xx-large;
}
.moto-deskripsi{
    font-size: medium;
    margin-top: 2rem;
    margin-bottom: 5rem;
}
