.fw-bold {
    text-align: center;
    font-size: 48px;
    margin-top: 30px;
}
.uks{
    width: 50px;
    margin-right: 10px;
}
.navbar{
    background-color: #80AF81;
}
.navbar-brand{
    text-align: center;
    font-size: medium;
}
.navbar-nav{
    justify-content: center;
    color: #ffff;
}

.card-img-top{
    margin-left: 400px;
    height: 2000px;
    width: 800px;
}
.type{
    margin-left: 300px;
}
